pre { line-height: 125%;}
td.linenos .normal { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px;}
span.linenos { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
.python .hll { background-color: #2C3B41 }
.python { background: #263238; color: #EEFFFF }
.python .c { color: #546E7A; font-style: italic } /* Comment */
.python .err { color: #FF5370 } /* Error */
.python .esc { color: #89DDFF } /* Escape */
.python .g { color: #EEFFFF } /* Generic */
.python .k { color: #BB80B3 } /* Keyword */
.python .l { color: #C3E88D } /* Literal */
.python .n { color: #EEFFFF } /* Name */
.python .o { color: #89DDFF } /* Operator */
.python .p { color: #89DDFF } /* Punctuation */
.python .ch { color: #546E7A; font-style: italic } /* Comment.Hashbang */
.python .cm { color: #546E7A; font-style: italic } /* Comment.Multiline */
.python .cp { color: #546E7A; font-style: italic } /* Comment.Preproc */
.python .cpf { color: #546E7A; font-style: italic } /* Comment.PreprocFile */
.python .c1 { color: #546E7A; font-style: italic } /* Comment.Single */
.python .cs { color: #546E7A; font-style: italic } /* Comment.Special */
.python .gd { color: #FF5370 } /* Generic.Deleted */
.python .ge { color: #89DDFF } /* Generic.Emph */
.python .gr { color: #FF5370 } /* Generic.Error */
.python .gh { color: #C3E88D } /* Generic.Heading */
.python .gi { color: #C3E88D } /* Generic.Inserted */
.python .go { color: #546E7A } /* Generic.Output */
.python .gp { color: #FFCB6B } /* Generic.Prompt */
.python .gs { color: #FF5370 } /* Generic.Strong */
.python .gu { color: #89DDFF } /* Generic.Subheading */
.python .gt { color: #FF5370 } /* Generic.Traceback */
.python .kc { color: #89DDFF } /* Keyword.Constant */
.python .kd { color: #BB80B3 } /* Keyword.Declaration */
.python .kn { color: #89DDFF; font-style: italic } /* Keyword.Namespace */
.python .kp { color: #89DDFF } /* Keyword.Pseudo */
.python .kr { color: #BB80B3 } /* Keyword.Reserved */
.python .kt { color: #BB80B3 } /* Keyword.Type */
.python .ld { color: #C3E88D } /* Literal.Date */
.python .m { color: #F78C6C } /* Literal.Number */
.python .s { color: #C3E88D } /* Literal.String */
.python .na { color: #BB80B3 } /* Name.Attribute */
.python .nb { color: #82AAFF } /* Name.Builtin */
.python .nc { color: #FFCB6B } /* Name.Class */
.python .no { color: #EEFFFF } /* Name.Constant */
.python .nd { color: #82AAFF } /* Name.Decorator */
.python .ni { color: #89DDFF } /* Name.Entity */
.python .ne { color: #FFCB6B } /* Name.Exception */
.python .nf { color: #82AAFF } /* Name.Function */
.python .nl { color: #82AAFF } /* Name.Label */
.python .nn { color: #FFCB6B } /* Name.Namespace */
.python .nx { color: #EEFFFF } /* Name.Other */
.python .py { color: #FFCB6B } /* Name.Property */
.python .nt { color: #FF5370 } /* Name.Tag */
.python .nv { color: #89DDFF } /* Name.Variable */
.python .ow { color: #89DDFF; font-style: italic } /* Operator.Word */
.python .w { color: #EEFFFF } /* Text.Whitespace */
.python .mb { color: #F78C6C } /* Literal.Number.Bin */
.python .mf { color: #F78C6C } /* Literal.Number.Float */
.python .mh { color: #F78C6C } /* Literal.Number.Hex */
.python .mi { color: #F78C6C } /* Literal.Number.Integer */
.python .mo { color: #F78C6C } /* Literal.Number.Oct */
.python .sa { color: #BB80B3 } /* Literal.String.Affix */
.python .sb { color: #C3E88D } /* Literal.String.Backtick */
.python .sc { color: #C3E88D } /* Literal.String.Char */
.python .dl { color: #EEFFFF } /* Literal.String.Delimiter */
.python .sd { color: #546E7A; font-style: italic } /* Literal.String.Doc */
.python .s2 { color: #C3E88D } /* Literal.String.Double */
.python .se { color: #EEFFFF } /* Literal.String.Escape */
.python .sh { color: #C3E88D } /* Literal.String.Heredoc */
.python .si { color: #89DDFF } /* Literal.String.Interpol */
.python .sx { color: #C3E88D } /* Literal.String.Other */
.python .sr { color: #89DDFF } /* Literal.String.Regex */
.python .s1 { color: #C3E88D } /* Literal.String.Single */
.python .ss { color: #89DDFF } /* Literal.String.Symbol */
.python .bp { color: #89DDFF } /* Name.Builtin.Pseudo */
.python .fm { color: #82AAFF } /* Name.Function.Magic */
.python .vc { color: #89DDFF } /* Name.Variable.Class */
.python .vg { color: #89DDFF } /* Name.Variable.Global */
.python .vi { color: #89DDFF } /* Name.Variable.Instance */
.python .vm { color: #82AAFF } /* Name.Variable.Magic */
.python .il { color: #F78C6C } /* Literal.Number.Integer.Long */